ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 1
DEVELOPMENT_TEAM = 6Q85CZHVDW
ENABLE_PREVIEWS = YES
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.entertainment
INFOPLIST_KEY_UIApplicationSceneManifest_Generation = YES
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES
INFOPLIST_KEY_UILaunchScreen_Generation = YES
INFOPLIST_KEY_UILaunchStoryboardName = LaunchScreen
INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
MARKETING_VERSION = 1.0
PRODUCT_BUNDLE_IDENTIFIER = com.kuliszkiewicz.UbiPod
PRODUCT_NAME = UbiPod
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
